@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    overflow: hidden; /* Hide scrollbars */
    /* //font-family: 'Press Start 2P', cursive;
    //font-size: 8px;
    //color: greenyellow; */
    background-color: black;
  }


.navbar .navbar .navbar-brand {
    color: #22903d;
}
.navbar.navbar.collapse.navbar-nav.nav-item.nav-link{
    color: #22903d;

}
.navbar.navbar.navbar-inner{
  background:transparent;
  }

.progress-bar-container {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#progress-bar::before {
  color: white;
}
#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height:2%;
  padding-left:8px; /* Rounded corners requires a padding */
  padding-right:8px;
  padding-top:0px;
  padding-bottom:0px;
  border-radius:50px;
  background: #22903d;
  background-color: #22903d;
}
label {
  color: #22903d;
  font-size: 2rem;
}
.navbar {
    
    z-index: 1; /* integer */
    padding-bottom: 0%;
    background:transparent;
    
  }
  #video { 
    display: none; 
  }

.webgl {
    padding-top: 0%;
    border:0px;
    position:absolute;
    top: 0;
    left: 0;
}
#myDiv {
  border: 1px solid black;
}